@@charset "UTF-8";
body{
  margin: 0;
}
#header{
  background: yellow;
  height: 20vh;
}
#container{
  background: skyblue;
  border: 10px solid red;
  overflow: hidden;
  position: relative;
}

#content{
  background: pink;
  min-height: 30vh;

  width: 80%;
  margin-left: 20%;
}
#sidebar{
  background: orange;
  height: 30vh;
  width: 20%;
  position: absolute;
  top: 0;
  left: 0;
}
#footer{
  background: lime;
  height: 20vh;
}
